.headerOption{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: gray;
margin-right: 20px;
cursor: pointer;
}
.headerOption:hover{
    color: #000;
}
.header__icon{
    object-fit: contain;
    width: 25px !important;
    height: 25px !important;
}
.headerOption__title{
    font-size: 12px;
    font-weight: 400;
}